
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

nav h3 {
    font-family: Lobster;
    font-size: 25px;
}

img {
    border-radius: 10px;
}
#area {
    max-width: 700px;
    margin: 0 auto;
    
}

#sec1 {
    color: white;
    background-color: #5998C5;
    display: flex;
    flex-direction: column;
    
}

#nav-bar {
    display: flex;
    align-items: center;
    margin: 15px 45px;
    flex-wrap: wrap;
}

#nav-bar h3 {
    flex: 4;
    
}

#nav-bar a {
    flex: 1;
    
}

#con {
    display: flex;
    margin: 15px 45px;
    
    align-items: center;
}

#con #welcome {
    flex: 1;
    
    
}

#welcome h2 {
    margin-bottom: 10px;
}

#con #ships {
    flex: 1;
    width: 200px;
}

#sec3 {
    background-color: #e5e7eb;
    display: flex;
    padding: 15px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#sec3 h3 {
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
    font-family: sans-serif;
    
}

#sec3 p {
    text-align: right;
    
}

#sec3 #pui {
    flex: 0.5;
    
}

p, a, h2, h4, footer {
    font-family: sans-serif;
}

#sec2 {
    display: flex;
    flex-direction: column;
    
    
}

#sec2 h4 {
    flex: 1;
    margin: 25px;
    text-align: center;
}

#creations {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 25px;
}

#sec2 img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

figcaption {
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.7em;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

footer {
    max-width: 700px;
    color: white;
    background-color: #5998C5;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 40px 0;
    align-items: center;
}

footer p {
    font-size: 0.7em;
}

#sec4 {
    display: flex;
    padding: 50px;
    background-color: #A2D2FF;
    color: white;
    margin: 50px auto;
    width: 75%;
    flex-wrap: wrap;
    align-content: center;
}

#sec4 div {
    flex: 2;
}

#sec4 button {
    flex: 1;
    border-radius: 15px;
    background-color: #A2D2FF;
    color: white;
    margin: 10px 20px;
}